server:
  port: ${PORT}

lavalink:
  server:
    password: "mypass"
    sources:
      youtube: true
      bandcamp: true
      soundcloud: true
      twitch: true
      vimeo: true
      http: true
      local: false
    bufferDurationMs: 400
    frameBufferDurationMs: 5000
    resamplingQuality: HIGH
    
